# Module 1 - Reshaping Data with Pandas
## Pandas Part 3

In [1]:
import pandas as pd
uci = pd.read_csv('data/heart.csv')

In [2]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [3]:
gb = uci.groupby('sex')

#### `.groups` and `.get_group()`

In [4]:
uci.groupby('sex').groups

{0: Int64Index([  2,   4,   6,  11,  14,  15,  16,  17,  19,  25,  28,  30,  35,
              36,  38,  39,  40,  43,  48,  49,  50,  53,  54,  59,  60,  65,
              67,  69,  74,  75,  82,  84,  85,  88,  89,  93,  94,  96, 102,
             105, 107, 108, 109, 110, 112, 115, 118, 119, 120, 122, 123, 124,
             125, 127, 128, 129, 130, 131, 134, 135, 136, 140, 142, 143, 144,
             146, 147, 151, 153, 154, 155, 161, 167, 181, 182, 190, 204, 207,
             213, 215, 216, 220, 223, 241, 246, 252, 258, 260, 263, 266, 278,
             289, 292, 296, 298, 302],
            dtype='int64'),
 1: Int64Index([  0,   1,   3,   5,   7,   8,   9,  10,  12,  13,
             ...
             288, 290, 291, 293, 294, 295, 297, 299, 300, 301],
            dtype='int64', length=207)}

In [5]:
uci.groupby('sex').get_group(0).head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1

### Aggregating

In [6]:
uci.groupby('sex').mean()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
sex,,,,,,,,,,,,,
0,55.677083,1.041667,133.083333,261.302083,0.12500,0.572917,151.125000,0.229167,0.876042,1.427083,0.552083,2.125000,0.750000
1,53.758454,0.932367,130.946860,239.289855,0.15942,0.507246,148.961353,0.371981,1.115459,1.386473,0.811594,2.400966,0.449275

Exercise: Tell me the average cholesterol level for those with heart disease.

In [7]:
# Your code here!
uci.groupby('target').mean().loc[1, 'chol']

242.23030303030302

In [8]:
uci.groupby('target').get_group(1).mean()['chol']

242.23030303030302

In [9]:
uci.groupby('cp').std().loc[3,'slope']

0.6887004431501819

In [10]:
uci.groupby(['sex','cp']).quantile(0.3)

/anaconda3/lib/python3.7/site-packages/pandas/core/groupby/groupby.py:4315: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  stacked_values = np.vstack(map(np.asarray, values))

0.3      age   ca   chol  exang  fbs  oldpeak  restecg  slope  target  thal  \
sex cp
0   0   55.4  0.0  234.8    0.0  0.0     0.24      0.0    1.0     0.0   2.0
    1   45.1  0.0  212.4    0.0  0.0     0.00      0.0    1.1     1.0   2.0
    2   50.2  0.0  214.2    0.0  0.0     0.00      0.0    1.0     1.0   2.0
    3   59.8  0.0  237.7    0.0  0.0     0.99      0.9    1.8     1.0   2.0
1   0   51.9  0.0  212.0    0.0  0.0     0.40      0.0    1.0     0.0   2.0
    1   45.3  0.0  220.0    0.0  0.0     0.00      0.0    2.0     1.0   2.0
    2   47.3  0.0  215.2    0.0  0.0     0.00      0.0    1.0     0.0   2.0
    3   51.4  0.0  211.8    0.0  0.0     0.68      0.0    1.0     0.0   2.0

0.3     thalach  trestbps
sex cp
0   0     136.0     130.0
    1     161.1     120.6
    2     149.0     120.0
    3     147.3     149.0
1   0     125.9     120.0
    1     156.0     120.0
    2     150.0     125.0
    3     145.0     122.0

### Apply to Animal Shelter Data

In [23]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD')

In [24]:
animal_outcomes.head(4)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico

In [25]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117738 entries, 0 to 117737
Data columns (total 12 columns):
Animal ID           117738 non-null object
Name                80680 non-null object
DateTime            117738 non-null object
MonthYear           117738 non-null object
Found Location      117738 non-null object
Intake Type         117738 non-null object
Intake Condition    117738 non-null object
Animal Type         117738 non-null object
Sex upon Intake     117737 non-null object
Age upon Intake     117738 non-null object
Breed               117738 non-null object
Color               117738 non-null object
dtypes: object(12)
memory usage: 10.8+ MB

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

In [26]:
animal_outcomes['date of birth'] = pd.to_datetime(animal_outcomes['DateTime'])

In [27]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117738 entries, 0 to 117737
Data columns (total 13 columns):
Animal ID           117738 non-null object
Name                80680 non-null object
DateTime            117738 non-null object
MonthYear           117738 non-null object
Found Location      117738 non-null object
Intake Type         117738 non-null object
Intake Condition    117738 non-null object
Animal Type         117738 non-null object
Sex upon Intake     117737 non-null object
Age upon Intake     117738 non-null object
Breed               117738 non-null object
Color               117738 non-null object
date of birth       117738 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(12)
memory usage: 11.7+ MB

In [28]:
import datetime
def calculate_age(val):
    return round((datetime.datetime.now() - val).days / 365, 2)

In [29]:
import datetime
animal_outcomes['age'] = animal_outcomes['date of birth'].map(lambda x: round((datetime.datetime.now()-x).days/365,2))

In [31]:
animal_outcomes.groupby('Animal Type').mean()['age']

Animal Type
Bird         3.079434
Cat          3.425571
Dog          3.431756
Livestock    2.779524
Other        3.538703
Name: age, dtype: float64

In [32]:
animal_outcomes.groupby(['Animal Type','Sex upon Intake']).mean()['age']

Animal Type  Sex upon Intake
Bird         Intact Female      2.679595
             Intact Male        3.533660
             Unknown            2.955109
Cat          Intact Female      3.420378
             Intact Male        3.442003
             Neutered Male      3.377521
             Spayed Female      3.439932
             Unknown            3.425204
Dog          Intact Female      3.361919
             Intact Male        3.392427
             Neutered Male      3.488660
             Spayed Female      3.588490
             Unknown            2.785632
Livestock    Intact Female      2.782500
             Intact Male        3.430000
             Neutered Male      6.280000
             Unknown            2.013750
Other        Intact Female      3.293537
             Intact Male        3.133803
             Neutered Male      2.956716
             Spayed Female      3.068704
             Unknown            3.607722
Name: age, dtype: float64

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [33]:
# Your code here
animal_outcomes['year'] = pd.to_datetime(animal_outcomes.DateTime).map(lambda x: x.year)

In [34]:
animal_outcomes['month'] = pd.to_datetime(animal_outcomes.DateTime).map(lambda x: x.month)

In [35]:
animal_outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,date of birth,age,year,month
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019-01-03 16:19:00,1.43,2019,1
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015-07-05 12:59:00,4.93,2015,7
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016-04-14 18:43:00,4.15,2016,4
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013-10-21 07:59:00,6.64,2013,10
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29 10:38:00,5.95,2014,6

In [36]:
animal_outcomes.groupby('month').size()

month
1      8479
2      8027
3      9318
4      9442
5     12337
6     11464
7     10203
8      9752
9      9972
10    10975
11     9303
12     8466
dtype: int64

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [37]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [38]:
uci.pivot(values='sex', columns='target').head()

target   0    1
0      NaN  1.0
1      NaN  1.0
2      NaN  0.0
3      NaN  1.0
4      NaN  0.0

In [39]:
uci.pivot(values='age',columns='target').head()

target   0     1
0      NaN  63.0
1      NaN  37.0
2      NaN  41.0
3      NaN  56.0
4      NaN  57.0

In [39]:
uci.pivot(values=['cp','sex'], columns='target').head()

        cp      sex
target   0    1   0    1
0      NaN  3.0 NaN  1.0
1      NaN  2.0 NaN  1.0
2      NaN  1.0 NaN  0.0
3      NaN  1.0 NaN  1.0
4      NaN  0.0 NaN  0.0

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [40]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns=['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns=['age', 'HP'])

In [41]:
toy1

   age   HP
0   63  142
1   33   47

In [42]:
toy2

   age   HP
0   63  100
1   33  200

In [43]:
toy1.join(toy2.set_index('age'),
         on = 'age',
         lsuffix= '_A',
         rsuffix= '_B')

   age  HP_A  HP_B
0   63   142   100
1   33    47   200

In [41]:
toy1.join(toy2.set_index('age'),
          on='age',
          lsuffix='_A',
          rsuffix='_B').head()

   age  HP_A  HP_B
0   63   142   100
1   33    47   200

### `.merge()`

In [44]:
ds_chars = pd.read_csv('data/ds_chars.csv', index_col=0)
ds_chars

     name   HP home_state
0    greg  200         WA
1   miles  200         WA
2    alan  170         TX
3  alison  300         DC
4  rachel  200         TX

In [45]:
states = pd.read_csv('data/states.csv', index_col=0)
states

  state   nickname     capital
0    WA  evergreen     Olympia
1    TX      alamo      Austin
2    DC   district  Washington
3    OH    buckeye    Columbus
4    OR     beaver       Salem

In [46]:
ds_chars.join(states.set_index('state'),
             on = 'home_state')

     name   HP home_state   nickname     capital
0    greg  200         WA  evergreen     Olympia
1   miles  200         WA  evergreen     Olympia
2    alan  170         TX      alamo      Austin
3  alison  300         DC   district  Washington
4  rachel  200         TX      alamo      Austin

In [50]:
ds_chars.merge(states,
              left_on='home_state',
              right_on='state',
              how = 'inner')

     name   HP home_state state   nickname     capital
0    greg  200         WA    WA  evergreen     Olympia
1   miles  200         WA    WA  evergreen     Olympia
2    alan  170         TX    TX      alamo      Austin
3  rachel  200         TX    TX      alamo      Austin
4  alison  300         DC    DC   district  Washington

In [44]:
ds_chars.merge(states,
               left_on='home_state',
               right_on='state',
               how='inner')

     name   HP home_state state   nickname     capital
0    greg  200         WA    WA  evergreen     Olympia
1   miles  200         WA    WA  evergreen     Olympia
2    alan  170         TX    TX      alamo      Austin
3  rachel  200         TX    TX      alamo      Austin
4  alison  300         DC    DC   district  Washington

### `pd.concat()`

In [52]:
pd.concat([ds_chars, states], sort=False)

     name     HP home_state state   nickname     capital
0    greg  200.0         WA   NaN        NaN         NaN
1   miles  200.0         WA   NaN        NaN         NaN
2    alan  170.0         TX   NaN        NaN         NaN
3  alison  300.0         DC   NaN        NaN         NaN
4  rachel  200.0         TX   NaN        NaN         NaN
0     NaN    NaN        NaN    WA  evergreen     Olympia
1     NaN    NaN        NaN    TX      alamo      Austin
2     NaN    NaN        NaN    DC   district  Washington
3     NaN    NaN        NaN    OH    buckeye    Columbus
4     NaN    NaN        NaN    OR     beaver       Salem

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [53]:
ds_chars.head()

     name   HP home_state
0    greg  200         WA
1   miles  200         WA
2    alan  170         TX
3  alison  300         DC
4  rachel  200         TX

In [54]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

     name    variable value
0    greg          HP   200
1   miles          HP   200
2    alan          HP   170
3  alison          HP   300
4  rachel          HP   200
5    greg  home_state    WA
6   miles  home_state    WA
7    alan  home_state    TX
8  alison  home_state    DC
9  rachel  home_state    TX

In [ ]:
pd.melt(animal_outcomes, id_vars=['Animal ID'], value_vars=['Age upon Intake']

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

_Hints_ :
- import and clean the intake dataset first
- use `apply`/`applymap`/`lambda` to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new `days_in_shelter` column
- Notice that some values in `days_in_shelter` are `NaN` or values < 0 (remove these rows using the "<" operator and `isna()` or `dropna()`)
- Use `groupby` to get aggregate information about the dataset (your choice)

To save your dataset:
Use the notation `df.to_csv()` or `df.to_excel()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [102]:
#code here
import pandas as pd
animal_intakes = pd.read_csv('https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD')
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [103]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118038 entries, 0 to 118037
Data columns (total 12 columns):
Animal ID           118038 non-null object
Name                81057 non-null object
DateTime            118038 non-null object
MonthYear           118038 non-null object
Date of Birth       118038 non-null object
Outcome Type        118030 non-null object
Outcome Subtype     53660 non-null object
Animal Type         118038 non-null object
Sex upon Outcome    118034 non-null object
Age upon Outcome    117991 non-null object
Breed               118038 non-null object
Color               118038 non-null object
dtypes: object(12)
memory usage: 10.8+ MB

In [104]:
animal_intakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117746 entries, 0 to 117745
Data columns (total 12 columns):
Animal ID           117746 non-null object
Name                80687 non-null object
DateTime            117746 non-null object
MonthYear           117746 non-null object
Found Location      117746 non-null object
Intake Type         117746 non-null object
Intake Condition    117746 non-null object
Animal Type         117746 non-null object
Sex upon Intake     117745 non-null object
Age upon Intake     117746 non-null object
Breed               117746 non-null object
Color               117746 non-null object
dtypes: object(12)
memory usage: 10.8+ MB

In [4]:
animal_intakes.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [5]:
animal_outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black

In [106]:
animal_intakes.columns = animal_intakes.columns.map(lambda x: x.lower().replace(' ','_'))

In [107]:
animal_outcomes.columns = animal_outcomes.columns.map(lambda x: x.lower().replace(' ','_'))

In [109]:
animal_intakes['datetime'] = pd.to_datetime(animal_intakes.datetime)
animal_outcomes['datetime'] = pd.to_datetime(animal_outcomes.datetime)

In [114]:
joined_table = animal_intakes.join(animal_outcomes.set_index('animal_id'),
                   on = 'animal_id',
                   lsuffix= '_intakes',
                   rsuffix= '_outcomes')

In [121]:
joined_table = joined_table.dropna(subset=['datetime_outcomes'])

In [124]:
joined_table['days_in_shelter'] = joined_table.datetime_outcomes - joined_table.datetime_intakes

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [130]:
joined_table.loc[joined_table.days_in_shelter < pd.Timedelta(0)]

,animal_id,name_intakes,datetime_intakes,monthyear_intakes,found_location,intake_type,intake_condition,animal_type_intakes,sex_upon_intake,age_upon_intake,...,monthyear_outcomes,date_of_birth,outcome_type,outcome_subtype,animal_type_outcomes,sex_upon_outcome,age_upon_outcome,breed_outcomes,color_outcomes,days_in_shelter
8,A774147,NaN,2018-06-11 07:45:00,06/11/2018 07:45:00 AM,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,...,06/11/2018 12:00:00 AM,05/10/2018,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White,-1 days +16:15:00
9,A731435,*Casey,2016-08-08 17:52:00,08/08/2016 05:52:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,5 months,...,07/29/2016 07:00:00 PM,02/22/2016,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Cream Tabby,-10 days +01:08:00
15,A657188,Tommy,2013-11-10 17:19:00,11/10/2013 05:19:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,14 years,...,10/29/2013 11:07:00 AM,06/24/1999,Adoption,Foster,Cat,Neutered Male,14 years,Domestic Shorthair Mix,Brown Tabby/White,-13 days +17:48:00
21,A754715,Rheia,2019-07-29 17:19:00,07/29/2019 05:19:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,...,07/29/2017 01:38:00 PM,02/09/2017,Adoption,NaN,Dog,Spayed Female,5 months,Labrador Retriever Mix,Black/White,-731 days +20:19:00
21,A754715,Rheia,2019-07-29 17:19:00,07/29/2019 05:19:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,...,08/06/2018 05:16:00 PM,02/09/2017,Adoption,NaN,Dog,Spayed Female,1 year,Labrador Retriever Mix,Black/White,-358 days +23:57:00
29,A696205,Roo,2015-02-12 11:57:00,02/12/2015 11:57:00 AM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,2 years,...,02/11/2015 05:05:00 PM,01/31/2013,Adoption,NaN,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Black,-1 days +05:08:00
32,A794334,Pearl,2019-09-02 11:52:00,09/02/2019 11:52:00 AM,Outside Jurisdiction,Owner Surrender,Sick,Dog,Spayed Female,3 years,...,05/07/2019 03:59:00 PM,02/06/2016,Return to Owner,NaN,Dog,Intact Female,3 years,Boxer Mix,White,-118 days +04:07:00
32,A794334,Pearl,2019-09-02 11:52:00,09/02/2019 11:52:00 AM,Outside Jurisdiction,Owner Surrender,Sick,Dog,Spayed Female,3 years,...,08/06/2019 04:02:00 PM,02/06/2016,Adoption,NaN,Dog,Spayed Female,3 years,Boxer Mix,White,-27 days +04:10:00
41,A700396,Calseta,2015-12-07 09:11:00,12/07/2015 09:11:00 AM,4200 Smith School Rd in Austin (TX),Stray,Normal,Dog,Spayed Female,3 years,...,04/16/2015 06:11:00 PM,04/13/2012,Return to Owner,NaN,Dog,Spayed Female,3 years,Pit Bull Mix,Black/White,-235 days +09:00:00
41,A700396,Calseta,2015-12-07 09:11:00,12/07/2015 09:11:00 AM,4200 Smith School Rd in Austin (TX),Stray,Normal,Dog,Spayed Female,3 years,...,09/16/2015 06:31:00 PM,04/13/2012,Return to Owner,NaN,Dog,Spayed Female,3 years,Pit Bull Mix,Black/White,-82 days +09:20:00
41,A700396,Calseta,2015-12-07 09:11:00,12/07/2015 09:11:00 AM,4200 Smith School Rd in Austin (TX),Stray,Normal,Dog,Spayed Female,3 years,...,11/05/2015 05:41:00 PM,04/13/2012,Return to Owner,NaN,Dog,Spayed Female,3 years,Pit Bull Mix,Black/White,-32 days +08:30:00
65,A760116,Jasmine,2019-01-07 12:07:00,01/07/2019 12:07:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,7 years,...,07/23/2018 06:22:00 PM,05/11/2011,Adoption,NaN,Dog,Spayed Female,7 years,German Shepherd,Brown/Black,-168 days +06:15:00
65,A760116,Jasmine,2019-01-07 12:07:00,01/07/2019 12:07:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,7 years,...,02/11/2018 12:10:00 PM,05/11/2011,Return to Owner,NaN,Dog,Intact Female,6 years,German Shepherd,Brown/Black,-330 days +00:03:00
71,A774099,Chloe,2018-07-30 14:50:00,07/30/2018 02:50:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,1 year,...,07/16/2018 04:04:00 PM,12/10/2016,Adoption,NaN,Dog,Spayed Female,1 year,Australian Kelpie Mix,Black/White,-14 days +01:14:00
73,A803768,Kylo,2019-11-15 18:35:00,11/15/2019 06:35:00 PM,Travis (TX),Owner Surrender,Normal,Dog,Neutered Male,1 year,...,10/27/2019 04:09:00 PM,09/14/2018,Adoption,NaN,Dog,Neutered Male,1 year,Alaskan Husky,Brown,-20 days +21:34:00
73,A803768,Kylo,2019-11-15 18:35:00,11/15/2019 06:35:00 PM,Travis (TX),Owner Surrender,Normal,Dog,Neutered Male,1 year,...,09/06/2019 07:07:00 PM,09/14/2018,Return to Owner,NaN,Dog,Intact Male,11 months,Alaskan Husky,Brown,-70 days +00:32:00
74,A770916,Oso,2018-04-27 11:43:00,04/27/2018 11:43:00 AM,10195 Thistle Ridge in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,...,04/27/2018 10:56:00 AM,04/27/2017,Return to Owner,NaN,Dog,Intact Male,1 year,Great Pyrenees Mix,White/Cream,-1 days +23:13:00
78,A722856,Chico,2016-05-05 15:24:00,05/05/2016 03:24:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,4 years,...,03/24/2016 05:52:00 PM,10/23/2011,Return to Owner,NaN,Dog,Neutered Male,4 years,Labrador Retriever Mix,White/Black,-42 days +02:28:00
96,A804055,NaN,2019-11-03 16:14:00,11/03/2019 04:14:00 PM,6400 Huntleigh Way in Austin (TX),Stray,Injured,Cat,Spayed Female,9 months,...,09/15/2019 07:05:00 PM,01/10/2019,Transfer,Snr,Cat,Spayed Female,8 months,Domestic Shorthair,Calico,-49 days +02:51:00
100,A687298,*Lila,2014-10-07 12:22:00,10/07/2014 12:22:00 PM,4715 S Congress in Austin (TX),Public Assist,Normal,Dog,Spayed Female,2 years,...,09/22/2014 12:03:00 PM,09/03/2012,Return to Owner,NaN,Dog,Spayed Female,2 years,Chihuahua Shorthair Mix,White/Cream,-16 days +23:41:00
100,A687298,*Lila,2014-10-07 12:22:00,10/07/2014 12:22:00 PM,4715 S Congress in Austin (TX),Public Assist,Normal,Dog,Spayed Female,2 years,...,09/13/2014 09:30:00 AM,09/03/2012,Adoption,NaN,Dog,Spayed Female,2 years,Chihuahua Shorthair Mix,White/Cream,-25 days +21:08:00
112,A787448,Watermelon,2019-04-01 11:30:00,04/01/2019 11:30:00 AM,12900 Dessau in Travis (TX),Stray,Normal,Dog,Intact Female,3 years,...,01/15/2019 06:57:00 PM,01/13/2016,Return to Owner,NaN,Dog,Intact Female,3 years,Labrador Retriever Mix,Brown Tiger/White,-76 days +07:27:00
118,A729026,*Simon,2016-10-11 18:02:00,10/11/2016 06:02:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,5 months,...,07/09/2016 07:58:00 PM,05/05/2016,Adoption,Foster,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Brown Tabby/White,-94 days +01:56:00
128,A812020,Delgado,2020-01-28 12:59:00,01/28/2020 12:59:00 PM,Outside Jurisdiction,Owner Surrender,Normal,Dog,Neutered Male,2 years,...,01/26/2020 07:00:00 PM,01/14/2018,Adoption,NaN,Dog,Neutered Male,2 years,Australian Shepherd/Chow Chow,Brown/Black,-2 days +06:01:00
128,A812020,Delgado,2020-01-28 12:59:00,01/28/2020 12:59:00 PM,Outside Jurisdiction,Owner Surrender,Normal,Dog,Neutered Male,2 years,...,01/18/2020 02:39:00 PM,01/14/2018,Adoption,NaN,Dog,Neutered Male,2 years,Australian Shepherd/Chow Chow,Brown/Black,-10 days +01:40:00
140,A596218,Coco,2018-03-29 16:27:00,03/29/2018 04:27:00 PM,East Cesar Chavez Street And Mildred Drive in ...,Stray,Normal,Dog,Spayed Female,12 years,...,04/17/2017 05:14:00 PM,03/31/2006,Return to Owner,NaN,Dog,Spayed Female,11 years,Chihuahua Shorthair,Chocolate/Tan,-346 days +00:47:00
147,A787054,*Rexx,2019-01-24 15:17:00,01/24/2019 03:17:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,4 years,...,01/20/2019 03:02:00 PM,01/07/2015,Adoption,NaN,Dog,Neutered Male,4 years,Labrador Retriever Mix,Black/White,-5 days +23:45:00
154,A711096,Schatzi,2017-03-10 15:11:00,03/10/2017 03:11:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,4 years,...,02/11/2016 05:49:00 PM,07/30/2012,Adoption,NaN,Dog,Spayed Female,3 years,American Staffordshire Terrier Mix,Blue/White,-393 days +02:38:00
160,A810107,Daisy,2019-12-31 11:12:00,12/31/2019 11:12:00 AM,Outside Jurisdiction,Owner Surrender,Normal,Dog,Spayed Female,2 months,...,12/09/2019 04:03:00 PM,10/15/2019,Adoption,NaN,Dog,Spayed Female,1 month,Collie Smooth Mix,Tricolor,-22 days +04:51:00
160,A810107,Daisy,2019-12-31 11:12:00,12/31/2019 11:12:00 AM,Outside Jurisdiction,Owner Surrender,Normal,Dog,Spayed Female,2 months,...,12/30/2019 05:37:00 PM,10/15/2019,Adoption,NaN,Dog,Spayed Female,2 months,Collie Smooth Mix,Tricolor,-1 days +06:25:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117598,A653383,Harlan,2020-06-04 14:18:00,06/04/2020 02:18:00 PM,Austin (TX),Owner Surrender,Sick,Dog,Neutered Male,7 years,...,04/16/2020 11:25:00 AM,01/22/2013,Adoption,Foster,Dog,Neutered Male,7 years,Labrador Retriever Mix,Black/White,-50 days +21:07:00
117600,A775476,*Oreo,2020-06-02 13:47:00,06/02/2020 01:47:00 PM,1414 Shore District Drive in Austin (TX),Abandoned,Normal,Dog,Neutered Male,2 years,...,07/14/2018 01:28:00 PM,06/30/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,Black/White,-690 days +23:41:00
117614,A817729,NaN,2020-06-05 07:47:00,06/05/2020 07:47:00 AM,2104 Pasadena Dr in Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,2 months,...,06/03/2020 12:19:00 PM,03/26/2020,Adoption,Foster,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Blue Tabby,-2 days +04:32:00
117639,A817724,*Neeko,2020-06-05 13:00:00,06/05/2020 01:00:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,1 year,...,05/31/2020 04:28:00 PM,05/24/2019,Adoption,NaN,Dog,Neutered Male,1 year,Siberian Husky,White/Black,-5 days +03:28:00
117651,A779777,*Miso,2020-05-23 09:27:00,05/23/2020 09:27:00 AM,1201 W Live Oak in Austin (TX),Stray,Normal,Dog,Neutered Male,3 years,...,09/09/2018 04:07:00 PM,09/05/2016,Adoption,NaN,Dog,Neutered Male,2 years,Beagle/Chihuahua Shorthair,Tricolor/Brown,-622 days +06:40:00
117656,A796845,*Shuri,2020-06-06 10:39:00,06/06/2020 10:39:00 AM,4700 East Riverside Drive in Austin (TX),Stray,Sick,Cat,Spayed Female,7 years,...,07/01/2019 06:16:00 PM,06/06/2013,Transfer,Partner,Cat,Spayed Female,6 years,Domestic Shorthair,Black,-341 days +07:37:00
117657,A818355,NaN,2020-06-06 14:10:00,06/06/2020 02:10:00 PM,2400 E Cesar Chavez St in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,...,06/06/2020 10:33:00 AM,06/06/2019,Transfer,Partner,Dog,Intact Female,1 year,Feist Mix,Tan,-1 days +20:23:00
117672,A813053,NaN,2020-06-07 15:51:00,06/07/2020 03:51:00 PM,1602 Charlois Dr in Austin (TX),Stray,Injured,Cat,Spayed Female,11 months,...,02/28/2020 04:29:00 PM,07/03/2019,Transfer,Snr,Cat,Spayed Female,7 months,Domestic Shorthair,Brown Tabby,-100 days +00:38:00
117673,A800898,Chile Pepper,2020-06-07 16:50:00,06/07/2020 04:50:00 PM,5407 Sugar Maple Ct in Austin (TX),Stray,Injured,Dog,Intact Female,13 years,...,07/28/2019 05:48:00 PM,07/28/2006,Return to Owner,NaN,Dog,Intact Female,13 years,Chihuahua Shorthair,White/Tan,-315 days +00:58:00
117676,A793396,Piki,2020-06-08 03:12:00,06/08/2020 03:12:00 AM,6505 Burleson in Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,...,04/25/2019 01:16:00 PM,04/24/2018,Return to Owner,NaN,Dog,Intact Male,1 year,Staffordshire Mix,Blue/White,-410 days +10:04:00
117676,A793396,Piki,2020-06-08 03:12:00,06/08/2020 03:12:00 AM,6505 Burleson in Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,...,06/26/2019 06:48:00 PM,04/24/2018,Return to Owner,NaN,Dog,Intact Male,1 year,Staffordshire Mix,Blue/White,-348 days +15:36:00
117681,A690574,Sugar,2020-06-08 08:19:00,06/08/2020 08:19:00 AM,2601 S Pleasant Valley in Austin (TX),Owner Surrender,Injured,Dog,Spayed Female,8 years,...,10/23/2014 06:56:00 PM,10/22/2011,Return to Owner,NaN,Dog,Spayed Female,3 years,Pointer,Brown Brindle/White,-2055 days +10:37:00
117681,A690574,Sugar,2020-06-08 08:19:00,06/08/2020 08:19:00 AM,2601 S Pleasant Valley in Austin (TX),Owner Surrender,Injured,Dog,Spayed Female,8 years,...,04/04/2016 05:08:00 PM,10/22/2011,Return to Owner,NaN,Dog,Spayed Female,4 years,Pointer,Brown Brindle/White,-1526 days +08:49:00
117694,A588601,Jackie,2020-06-07 09:51:00,06/07/2020 09:51:00 AM,Oak Springs Dr & Gunter St in Austin (TX),Stray,Normal,Dog,Spayed Female,11 years,...,12/05/2014 12:41:00 PM,11/10/2008,Return to Owner,NaN,Dog,Spayed Female,6 years,Australian Cattle Dog Mix,Blue Merle/White,-2011 days +02:50:00
117694,A588601,Jackie,2020-06-07 09:51:00,06/07/2020 09:51:00 AM,Oak Springs Dr & Gunter St in Austin (TX),Stray,Normal,Dog,Spayed Female,11 years,...,01/06/2020 02:00:00 PM,11/10/2008,Return to Owner,NaN,Dog,Spayed Female,11 years,Australian Cattle Dog Mix,Blue Merle/White,-153 days +04:09:00
117694,A588601,Jackie,2020-06-07 09:51:00,06/07/2020 09:51:00 AM,Oak Springs Dr & Gunter St in Austin (TX),Stray,Normal,Dog,Spayed Female,11 years,...,12/13/2015 06:28:00 PM,11/10/2008,Return to Owner,NaN,Dog,Spayed Female,7 years,Australian Cattle Dog Mix,Blue Merle/White,-1638 days +08:37:00
117694,A588601,Jackie,2020-06-07 09:51:00,06/07/2020 09:51:00 AM,Oak Springs Dr & Gunter St in Austin (TX),Stray,Normal,Dog,Spayed Female,11 years,...,01/15/2018 12:52:00 PM,11/10/2008,Return to Owner,NaN,Dog,Spayed Female,9 years,Australian Cattle Dog Mix,Blue Merle/White,-874 days +03:01:00
117694,A588601,Jackie,2020-06-07 09:51:00,06/07/2020 09:51:00 AM,Oak Springs Dr & Gunter St in Austin (TX),Stray,Normal,Dog,Spayed Female,11 years,...,07/07/2015 05:40:00 PM,11/10/2008,Return to Owner,NaN,Dog,Spayed Female,6 years,Australian Cattle Dog Mix,Blue Merle/White,-1797 days +07:49:00
117694,A588601,Jackie,2020-06-07 09:51:00,06/07/2020 09:51:00 AM,Oak Springs Dr & Gunter St in Austin (TX),Stray,Normal,Dog,Spayed Female,11 years,...,01/02/2016 06:35:00 PM,11/10/2008,Return to Owner,NaN,Dog,Spayed Female,7 years,Australian Cattle Dog Mix,Blue Merle/White,-1618 days +08:44:00
117705,A732172,Clyde,2018-04-26 13:48:00,04/26/2018 01:48:00 PM,8209 Bluss Springs in Austin (TX),Stray,Normal,Dog,Intact Male,4 years,...,12/07/2016 03:13:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,2 years,Catahoula Mix,Black Brindle/White,-505 days +01:25:00
117705,A732172,Clyde,2018-04-26 13:48:00,04/26/2018 01:48:00 PM,8209 Bluss Springs in Austin (TX),Stray,Normal,Dog,Intact Male,4 years,...,08/09/2016 04:49:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,2 years,Catahoula Mix,Black Brindle/White,-625 days +03:01:00
117708,A732172,Clyde,2016-11-27 15:42:00,11/27/2016 03:42:00 PM,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,...,08/09/2016 04:49:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,2 years,Catahoula Mix,Black Brindle/White,-110 days +01:07:00
117714,A812744,Kachy,2020-06-08 16:26:00,06/08/2020 04:26:00 PM,Austin (TX),Public Assist,Normal,Dog,Neutered Male,3 years,...,02/05/2020 05:25:00 PM,01/27/2017,Adoption,NaN,Dog,Neutered Male,3 years,Yorkshire Terrier/Maltese,Brown/Black,-124 days +00:59:00
117715,A732172,Clyde,2020-06-08 14:47:00,06/08/2020 02:47:00 PM,Austin (TX),Public Assist,Normal,Dog,Intact Male,6 years,...,05/07/2018 06:23:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,4 years,Catahoula Mix,Black Brindle/White,-763 days +03:36:00
117715,A732172,Clyde,2020-06-08 14:47:00,06/08/2020 02:47:00 PM,Austin (TX),Public Assist,Normal,Dog,Intact Male,6 years,...,12/07/2016 03:13:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,2 years,Catahoula Mix,Black Brindle/White,-1279 days +00:26:00
117715,A732172,Clyde,2020-06-08 14:47:00,06/08/2020 02:47:00 PM,Austin (TX),Public Assist,Normal,Dog,Intact Male,6 years,...,08/09/2016 04:49:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,2 years,Catahoula Mix,Black Brindle/White,-1399 days +02:02:00
117728,A811195,*Lawrence,2020-06-08 23:35:00,06/08/2020 11:35:00 PM,8712 Manor Rd in Travis (TX),Stray,Normal,Dog,Neutered Male,5 years,...,01/07/2020 04:43:00 PM,12/29/2014,Adoption,NaN,Dog,Neutered Male,5 years,German Shepherd,Brown/Black,-154 days +17:08:00
117741,A696243,Weebles,2015-04-26 11:39:00,04/26/2015 11:39:00 AM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,11 years,...,03/01/2015 11:05:00 AM,01/31/2004,Adoption,Foster,Cat,Spayed Female,11 years,Domestic Shorthair Mix,Brown Tabby/White,-57 days +23:26:00
117742,A696243,Weebles,2020-06-09 10:54:00,06/09/2020 10:54:00 AM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,16 years,...,08/05/2016 09:50:00 AM,01/31/2004,Adoption,Foster,Cat,Spayed Female,12 years,Domestic Shorthair Mix,Brown Tabby/White,-1405 days +22:56:00
117742,A696243,Weebles,2020-06-09 10:54:00,06/09/2020 10:54:00 AM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,16 years,...,03/01/2015 11:05:00 AM,01/31/2004,Adoption,Foster,Cat,Spayed Female,11 years,Domestic Shorthair Mix,Brown Tabby/White,-1927 days +00:11:00

In [132]:
joined_table.drop(joined_table.days_in_shelter < pd.Timedelta(0))

,animal_id,name_intakes,datetime_intakes,monthyear_intakes,found_location,intake_type,intake_condition,animal_type_intakes,sex_upon_intake,age_upon_intake,...,monthyear_outcomes,date_of_birth,outcome_type,outcome_subtype,animal_type_outcomes,sex_upon_outcome,age_upon_outcome,breed_outcomes,color_outcomes,days_in_shelter
2,A724273,Runster,2016-04-14 18:43:00,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,...,04/21/2016 05:17:00 PM,04/17/2015,Return to Owner,NaN,Dog,Neutered Male,1 year,Basenji Mix,Sable/White,6 days 22:34:00
3,A665644,NaN,2013-10-21 07:59:00,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,...,10/21/2013 11:39:00 AM,09/21/2013,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,0 days 03:40:00
4,A682524,Rio,2014-06-29 10:38:00,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,...,07/02/2014 02:16:00 PM,06/29/2010,Return to Owner,NaN,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,3 days 03:38:00
5,A743852,Odin,2017-02-18 12:46:00,02/18/2017 12:46:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,...,02/21/2017 05:44:00 PM,02/18/2015,Return to Owner,NaN,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,3 days 04:58:00
6,A635072,Beowulf,2019-04-16 09:53:00,04/16/2019 09:53:00 AM,415 East Mary Street in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,...,04/18/2019 01:45:00 PM,06/03/2012,Return to Owner,NaN,Dog,Neutered Male,6 years,Great Dane Mix,Black,2 days 03:52:00
7,A708452,Mumble,2015-07-30 14:37:00,07/30/2015 02:37:00 PM,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,...,08/04/2015 06:17:00 PM,07/28/2013,Return to Owner,NaN,Dog,Neutered Male,2 years,Labrador Retriever Mix,Black/White,5 days 03:40:00
8,A774147,NaN,2018-06-11 07:45:00,06/11/2018 07:45:00 AM,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,...,06/11/2018 12:00:00 AM,05/10/2018,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White,-1 days +16:15:00
9,A731435,*Casey,2016-08-08 17:52:00,08/08/2016 05:52:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,5 months,...,08/13/2016 12:27:00 PM,02/22/2016,Transfer,Partner,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Cream Tabby,4 days 18:35:00
9,A731435,*Casey,2016-08-08 17:52:00,08/08/2016 05:52:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,5 months,...,07/29/2016 07:00:00 PM,02/22/2016,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Cream Tabby,-10 days +01:08:00
10,A760053,NaN,2017-10-11 15:46:00,10/11/2017 03:46:00 PM,8800 South First Street in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,...,10/15/2017 06:30:00 PM,10/11/2015,Adoption,NaN,Dog,Neutered Male,2 years,Chihuahua Shorthair,White/Tan,4 days 02:44:00
11,A707375,*Candy Cane,2015-07-11 18:19:00,07/11/2015 06:19:00 PM,Galilee Court And Damita Jo Dr in Manor (TX),Stray,Normal,Dog,Intact Female,5 months,...,11/28/2015 05:31:00 PM,01/11/2015,Adoption,NaN,Dog,Spayed Female,10 months,Pit Bull,Brown/White,139 days 23:12:00
12,A696408,*Pearl,2015-02-04 12:58:00,02/04/2015 12:58:00 PM,9705 Thaxton in Austin (TX),Stray,Normal,Dog,Intact Female,2 years,...,05/28/2015 11:24:00 AM,02/04/2013,Adoption,Foster,Dog,Spayed Female,2 years,Chihuahua Shorthair,Tricolor,112 days 22:26:00
13,A790209,Ziggy,2019-03-06 14:31:00,03/06/2019 02:31:00 PM,4424 S Mopac Expwy in Austin (TX),Public Assist,Normal,Cat,Intact Female,4 years,...,03/13/2019 05:36:00 PM,03/06/2015,Return to Owner,NaN,Cat,Intact Female,4 years,Domestic Shorthair Mix,Brown Tabby/White,7 days 03:05:00
14,A743114,NaN,2017-02-04 10:10:00,02/04/2017 10:10:00 AM,208 Beaver St in Austin (TX),Stray,Injured,Cat,Intact Female,2 years,...,02/04/2017 10:48:00 AM,02/04/2015,Euthanasia,Suffering,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black/White,0 days 00:38:00
15,A657188,Tommy,2013-11-10 17:19:00,11/10/2013 05:19:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,14 years,...,01/26/2014 04:24:00 PM,06/24/1999,Adoption,Foster,Cat,Neutered Male,14 years,Domestic Shorthair Mix,Brown Tabby/White,76 days 23:05:00
15,A657188,Tommy,2013-11-10 17:19:00,11/10/2013 05:19:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,14 years,...,10/29/2013 11:07:00 AM,06/24/1999,Adoption,Foster,Cat,Neutered Male,14 years,Domestic Shorthair Mix,Brown Tabby/White,-13 days +17:48:00
16,A783861,Tulip,2018-11-07 15:53:00,11/07/2018 03:53:00 PM,3110 Guadalupe Street in Austin (TX),Stray,Normal,Cat,Intact Female,1 month,...,11/29/2018 07:22:00 PM,09/22/2018,Adoption,NaN,Cat,Intact Female,2 months,Domestic Shorthair Mix,Brown Tabby,22 days 03:29:00
17,A707658,*Mint,2015-07-15 17:43:00,07/15/2015 05:43:00 PM,6118 Fairway in Austin (TX),Stray,Normal,Cat,Intact Female,4 weeks,...,08/19/2015 05:59:00 PM,06/15/2015,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Black/White,35 days 00:16:00
18,A736287,*Twilight,2016-10-08 11:53:00,10/08/2016 11:53:00 AM,South First And Stassney in Austin (TX),Stray,Normal,Cat,Intact Female,1 month,...,10/12/2016 06:32:00 PM,08/08/2016,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Torbie,4 days 06:39:00
19,A697950,NaN,2015-03-04 11:22:00,03/04/2015 11:22:00 AM,1501 S Fm 973 in Austin (TX),Stray,Normal,Dog,Intact Female,2 months,...,03/08/2015 06:55:00 PM,12/20/2014,Adoption,NaN,Dog,Spayed Female,2 months,Australian Cattle Dog/Labrador Retriever,Tan/White,4 days 07:33:00
20,A298074,Stumpy,2015-09-06 14:21:00,09/06/2015 02:21:00 PM,1801 Westridge in Austin (TX),Stray,Normal,Dog,Spayed Female,18 years,...,09/07/2015 11:40:00 AM,02/07/1997,Return to Owner,NaN,Dog,Spayed Female,18 years,Parson Russell Terrier Mix,Black/White,0 days 21:19:00
21,A754715,Rheia,2019-07-29 17:19:00,07/29/2019 05:19:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,...,07/29/2017 01:38:00 PM,02/09/2017,Adoption,NaN,Dog,Spayed Female,5 months,Labrador Retriever Mix,Black/White,-731 days +20:19:00
21,A754715,Rheia,2019-07-29 17:19:00,07/29/2019 05:19:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,...,08/06/2018 05:16:00 PM,02/09/2017,Adoption,NaN,Dog,Spayed Female,1 year,Labrador Retriever Mix,Black/White,-358 days +23:57:00
21,A754715,Rheia,2019-07-29 17:19:00,07/29/2019 05:19:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,...,08/15/2019 01:42:00 PM,02/09/2017,Adoption,NaN,Dog,Spayed Female,2 years,Labrador Retriever Mix,Black/White,16 days 20:23:00
22,A810994,NaN,2019-12-25 00:05:00,12/25/2019 12:05:00 AM,7900 Rm 1826 Rd in Travis (TX),Wildlife,Normal,Other,Unknown,2 years,...,12/26/2019 08:38:00 AM,12/24/2017,Disposal,NaN,Other,Unknown,2 years,Bat,Brown,1 days 08:33:00
23,A769764,NaN,2018-04-09 19:03:00,04/09/2018 07:03:00 PM,7500 South Interstate 35 in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,...,04/13/2018 04:12:00 PM,10/10/2017,Transfer,Partner,Dog,Spayed Female,6 months,Yorkshire Terrier Mix,White/Black,3 days 21:09:00
24,A707974,*Cleopatra,2015-07-20 18:13:00,07/20/2015 06:13:00 PM,2307 Ventura in Austin (TX),Stray,Normal,Cat,Intact Female,2 years,...,09/08/2015 08:03:00 PM,07/20/2013,Transfer,SCRP,Cat,Intact Female,2 years,Domestic Shorthair Mix,Blue,50 days 01:50:00
25,A682230,NaN,2014-06-25 16:27:00,06/25/2014 04:27:00 PM,3737 Keats Dr in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,...,06/29/2014 05:26:00 PM,12/25/2013,Transfer,Partner,Dog,Spayed Female,6 months,Maltese Mix,White,4 days 00:59:00
26,A749436,NaN,2017-05-15 09:50:00,05/15/2017 09:50:00 AM,East Pleasant Valley And Stassney in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,...,05/15/2017 01:25:00 PM,12/15/2016,Transfer,Partner,Dog,Intact Male,4 months,Dachshund Mix,Brown/White,0 days 03:35:00
27,A722979,NaN,2016-03-24 16:39:00,03/24/2016 04:39:00 PM,4100 Westbank Dr in Austin (TX),Wildlife,Normal,Other,Unknown,1 year,...,03/24/2016 05:17:00 PM,03/24/2015,Euthanasia,Rabies Risk,Other,Unknown,1 year,Bat Mix,Brown,0 days 00:38:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117694,A588601,Jackie,2020-06-07 09:51:00,06/07/2020 09:51:00 AM,Oak Springs Dr & Gunter St in Austin (TX),Stray,Normal,Dog,Spayed Female,11 years,...,12/13/2015 06:28:00 PM,11/10/2008,Return to Owner,NaN,Dog,Spayed Female,7 years,Australian Cattle Dog Mix,Blue Merle/White,-1638 days +08:37:00
117694,A588601,Jackie,2020-06-07 09:51:00,06/07/2020 09:51:00 AM,Oak Springs Dr & Gunter St in Austin (TX),Stray,Normal,Dog,Spayed Female,11 years,...,01/15/2018 12:52:00 PM,11/10/2008,Return to Owner,NaN,Dog,Spayed Female,9 years,Australian Cattle Dog Mix,Blue Merle/White,-874 days +03:01:00
117694,A588601,Jackie,2020-06-07 09:51:00,06/07/2020 09:51:00 AM,Oak Springs Dr & Gunter St in Austin (TX),Stray,Normal,Dog,Spayed Female,11 years,...,07/07/2015 05:40:00 PM,11/10/2008,Return to Owner,NaN,Dog,Spayed Female,6 years,Australian Cattle Dog Mix,Blue Merle/White,-1797 days +07:49:00
117694,A588601,Jackie,2020-06-07 09:51:00,06/07/2020 09:51:00 AM,Oak Springs Dr & Gunter St in Austin (TX),Stray,Normal,Dog,Spayed Female,11 years,...,01/02/2016 06:35:00 PM,11/10/2008,Return to Owner,NaN,Dog,Spayed Female,7 years,Australian Cattle Dog Mix,Blue Merle/White,-1618 days +08:44:00
117694,A588601,Jackie,2020-06-07 09:51:00,06/07/2020 09:51:00 AM,Oak Springs Dr & Gunter St in Austin (TX),Stray,Normal,Dog,Spayed Female,11 years,...,06/08/2020 01:22:00 PM,11/10/2008,Return to Owner,NaN,Dog,Spayed Female,11 years,Australian Cattle Dog Mix,Blue Merle/White,1 days 03:31:00
117703,A732172,Clyde,2016-08-04 14:58:00,08/04/2016 02:58:00 PM,8209 Bluff Springs in Travis (TX),Public Assist,Normal,Dog,Intact Male,2 years,...,05/07/2018 06:23:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,4 years,Catahoula Mix,Black Brindle/White,641 days 03:25:00
117703,A732172,Clyde,2016-08-04 14:58:00,08/04/2016 02:58:00 PM,8209 Bluff Springs in Travis (TX),Public Assist,Normal,Dog,Intact Male,2 years,...,12/07/2016 03:13:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,2 years,Catahoula Mix,Black Brindle/White,125 days 00:15:00
117703,A732172,Clyde,2016-08-04 14:58:00,08/04/2016 02:58:00 PM,8209 Bluff Springs in Travis (TX),Public Assist,Normal,Dog,Intact Male,2 years,...,08/09/2016 04:49:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,2 years,Catahoula Mix,Black Brindle/White,5 days 01:51:00
117705,A732172,Clyde,2018-04-26 13:48:00,04/26/2018 01:48:00 PM,8209 Bluss Springs in Austin (TX),Stray,Normal,Dog,Intact Male,4 years,...,05/07/2018 06:23:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,4 years,Catahoula Mix,Black Brindle/White,11 days 04:35:00
117705,A732172,Clyde,2018-04-26 13:48:00,04/26/2018 01:48:00 PM,8209 Bluss Springs in Austin (TX),Stray,Normal,Dog,Intact Male,4 years,...,12/07/2016 03:13:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,2 years,Catahoula Mix,Black Brindle/White,-505 days +01:25:00
117705,A732172,Clyde,2018-04-26 13:48:00,04/26/2018 01:48:00 PM,8209 Bluss Springs in Austin (TX),Stray,Normal,Dog,Intact Male,4 years,...,08/09/2016 04:49:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,2 years,Catahoula Mix,Black Brindle/White,-625 days +03:01:00
117707,A814608,*Rosemary,2020-03-02 19:00:00,03/02/2020 07:00:00 PM,Night Star Drive And Warrior Lane in Travis (TX),Stray,Normal,Dog,Intact Female,1 weeks,...,05/28/2020 01:53:00 PM,02/23/2020,Adoption,Foster,Dog,Spayed Female,3 months,Catahoula Mix,Brown Merle,86 days 18:53:00
117708,A732172,Clyde,2016-11-27 15:42:00,11/27/2016 03:42:00 PM,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,...,05/07/2018 06:23:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,4 years,Catahoula Mix,Black Brindle/White,526 days 02:41:00
117708,A732172,Clyde,2016-11-27 15:42:00,11/27/2016 03:42:00 PM,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,...,12/07/2016 03:13:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,2 years,Catahoula Mix,Black Brindle/White,9 days 23:31:00
117708,A732172,Clyde,2016-11-27 15:42:00,11/27/2016 03:42:00 PM,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,...,08/09/2016 04:49:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,2 years,Catahoula Mix,Black Brindle/White,-110 days +01:07:00
117709,A814607,*Caraway,2020-03-02 19:00:00,03/02/2020 07:00:00 PM,Night Star Drive And Warrior Lane in Travis (TX),Stray,Normal,Dog,Intact Male,3 weeks,...,04/27/2020 11:39:00 AM,02/09/2020,Adoption,Foster,Dog,Neutered Male,2 months,Catahoula Mix,Brown,55 days 16:39:00
117714,A812744,Kachy,2020-06-08 16:26:00,06/08/2020 04:26:00 PM,Austin (TX),Public Assist,Normal,Dog,Neutered Male,3 years,...,02/05/2020 05:25:00 PM,01/27/2017,Adoption,NaN,Dog,Neutered Male,3 years,Yorkshire Terrier/Maltese,Brown/Black,-124 days +00:59:00
117715,A732172,Clyde,2020-06-08 14:47:00,06/08/2020 02:47:00 PM,Austin (TX),Public Assist,Normal,Dog,Intact Male,6 years,...,05/07/2018 06:23:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,4 years,Catahoula Mix,Black Brindle/White,-763 days +03:36:00
117715,A732172,Clyde,2020-06-08 14:47:00,06/08/2020 02:47:00 PM,Austin (TX),Public Assist,Normal,Dog,Intact Male,6 years,...,12/07/2016 03:13:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,2 years,Catahoula Mix,Black Brindle/White,-1279 days +00:26:00
117715,A732172,Clyde,2020-06-08 14:47:00,06/08/2020 02:47:00 PM,Austin (TX),Public Assist,Normal,Dog,Intact Male,6 years,...,08/09/2016 04:49:00 PM,03/04/2014,Return to Owner,NaN,Dog,Intact Male,2 years,Catahoula Mix,Black Brindle/White,-1399 days +02:02:00
117723,A808856,Millie,2019-11-14 18:00:00,11/14/2019 06:00:00 PM,Outside Jurisdiction,Stray,Nursing,Dog,Intact Female,4 weeks,...,11/18/2019 07:37:00 PM,10/14/2019,Transfer,Partner,Dog,Intact Female,5 weeks,Miniature Poodle Mix,Tan,4 days 01:37:00
117726,A811195,*Lawrence,2019-12-29 17:45:00,12/29/2019 05:45:00 PM,2300 West Ben White Boulevard in Austin (TX),Stray,Normal,Dog,Intact Male,5 years,...,01/07/2020 04:43:00 PM,12/29/2014,Adoption,NaN,Dog,Neutered Male,5 years,German Shepherd,Brown/Black,8 days 22:58:00
117728,A811195,*Lawrence,2020-06-08 23:35:00,06/08/2020 11:35:00 PM,8712 Manor Rd in Travis (TX),Stray,Normal,Dog,Neutered Male,5 years,...,01/07/2020 04:43:00 PM,12/29/2014,Adoption,NaN,Dog,Neutered Male,5 years,German Shepherd,Brown/Black,-154 days +17:08:00
117740,A818460,NaN,2020-06-09 12:31:00,06/09/2020 12:31:00 PM,612 Great Britain Blvd in Austin (TX),Wildlife,Sick,Other,Unknown,1 year,...,06/09/2020 01:18:00 PM,06/09/2019,Euthanasia,Rabies Risk,Other,Unknown,1 year,Raccoon,Black,0 days 00:47:00
117741,A696243,Weebles,2015-04-26 11:39:00,04/26/2015 11:39:00 AM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,11 years,...,08/05/2016 09:50:00 AM,01/31/2004,Adoption,Foster,Cat,Spayed Female,12 years,Domestic Shorthair Mix,Brown Tabby/White,466 days 22:11:00
117741,A696243,Weebles,2015-04-26 11:39:00,04/26/2015 11:39:00 AM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,11 years,...,03/01/2015 11:05:00 AM,01/31/2004,Adoption,Foster,Cat,Spayed Female,11 years,Domestic Shorthair Mix,Brown Tabby/White,-57 days +23:26:00
117742,A696243,Weebles,2020-06-09 10:54:00,06/09/2020 10:54:00 AM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,16 years,...,08/05/2016 09:50:00 AM,01/31/2004,Adoption,Foster,Cat,Spayed Female,12 years,Domestic Shorthair Mix,Brown Tabby/White,-1405 days +22:56:00
117742,A696243,Weebles,2020-06-09 10:54:00,06/09/2020 10:54:00 AM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,16 years,...,03/01/2015 11:05:00 AM,01/31/2004,Adoption,Foster,Cat,Spayed Female,11 years,Domestic Shorthair Mix,Brown Tabby/White,-1927 days +00:11:00
117745,A696243,Weebles,2015-01-31 17:31:00,01/31/2015 05:31:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,11 years,...,08/05/2016 09:50:00 AM,01/31/2004,Adoption,Foster,Cat,Spayed Female,12 years,Domestic Shorthair Mix,Brown Tabby/White,551 days 16:19:00
117745,A696243,Weebles,2015-01-31 17:31:00,01/31/2015 05:31:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,11 years,...,03/01/2015 11:05:00 AM,01/31/2004,Adoption,Foster,Cat,Spayed Female,11 years,Domestic Shorthair Mix,Brown Tabby/White,28 days 17:34:00

## 5. Pandas Practice

### Introduction

In [30]:
# find and import the World Cup data held in data/ folder
!ls data/

WorldCupMatches.csv ds_chars.csv        heart.csv           states.csv

In [31]:
wc = pd.read_csv('data/WorldCupMatches.csv')

In [32]:
wc.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

In [33]:
wc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
Year                    852 non-null int64
Datetime                852 non-null object
Stage                   852 non-null object
Stadium                 852 non-null object
City                    852 non-null object
Home Team Name          852 non-null object
Home Team Goals         852 non-null int64
Away Team Goals         852 non-null int64
Away Team Name          852 non-null object
Win conditions          852 non-null object
Attendance              850 non-null float64
Half-time Home Goals    852 non-null int64
Half-time Away Goals    852 non-null int64
Referee                 852 non-null object
Assistant 1             852 non-null object
Assistant 2             852 non-null object
RoundID                 852 non-null int64
MatchID                 852 non-null int64
Home Team Initials      852 non-null object
Away Team Initials      852 non-null object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB

### Practice Questions <a id="practice"></a>

1. Subset the DataFrame to only non-null rows.

In [34]:
#Your code here.
wc = wc.dropna()

In [35]:
wc.columns = wc.columns.map(lambda x: x.lower().replace(' ','_'))

In [42]:
wc.head()

,year,datetime,stage,stadium,city,home_team_name,home_team_goals,away_team_goals,away_team_name,win_conditions,attendance,half-time_home_goals,half-time_away_goals,referee,assistant_1,assistant_2,roundid,matchid,home_team_initials,away_team_initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

2. How many of the matches were in Montevideo?

In [53]:
#Your code here.
wc['city'] = wc['city'].map(lambda x: x.strip())

In [62]:
len(wc.loc[wc['city'] == 'Montevideo'])

18

2. b If you haven't already, investigate why this code returns zero:

```python
print(len(df[df.City=="Montevideo"]))
```

In [ ]:
#Your code here.

3. How many matches did USA play in 2014?  

Hint: they could have been home or away.  

You can combine conditions like this:  
```python
# Returns rows where either condition is true
df[(condition1) | (condition2)]

# Returns rows where both conditions are true  
df[(condition1) & (condition2)]
```

In [65]:
#Your code here.
len(wc.loc[(wc.year == 1930)&((wc.home_team_name == 'USA')|(wc.away_team_name == 'USA'))])

3

4. How many teams played in 1986?

In [75]:
import numpy as np

In [83]:
#Your code here.
hometeam_1986 = wc.loc[wc.year == 1986]['home_team_name'].unique()
awayteam_1986 = wc.loc[wc.year == 1986]['away_team_name'].unique()
len(np.unique(np.concatenate([hometeam_1986,awayteam_1986])))

24

5. How many matches were there with 5 or more total goals?

In [84]:
wc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 850 entries, 0 to 851
Data columns (total 20 columns):
year                    850 non-null int64
datetime                850 non-null object
stage                   850 non-null object
stadium                 850 non-null object
city                    850 non-null object
home_team_name          850 non-null object
home_team_goals         850 non-null int64
away_team_goals         850 non-null int64
away_team_name          850 non-null object
win_conditions          850 non-null object
attendance              850 non-null float64
half-time_home_goals    850 non-null int64
half-time_away_goals    850 non-null int64
referee                 850 non-null object
assistant_1             850 non-null object
assistant_2             850 non-null object
roundid                 850 non-null int64
matchid                 850 non-null int64
home_team_initials      850 non-null object
away_team_initials      850 non-null object
dtypes: float64(1), int64(7), object(12)
memory usage: 179.5+ KB

In [86]:
#Your code here.
len(wc.loc[(wc['home_team_goals']+wc['away_team_goals']>=5)])

147

6. Come up with and answer, two other questions you could answer by filtering or subsetting this DataFrame.

In [87]:
wc.head(10)

,year,datetime,stage,stadium,city,home_team_name,home_team_goals,away_team_goals,away_team_name,win_conditions,attendance,half-time_home_goals,half-time_away_goals,referee,assistant_1,assistant_2,roundid,matchid,home_team_initials,away_team_initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX
6,1930,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4,0,Bolivia,,18306.0,0,0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201,1092,YUG,BOL
7,1930,17 Jul 1930 - 14:45,Group 4,Parque Central,Montevideo,USA,3,0,Paraguay,,18306.0,2,0,MACIAS Jose (ARG),APHESTEGUY Martin (URU),TEJADA Anibal (URU),201,1097,USA,PAR
8,1930,18 Jul 1930 - 14:30,Group 3,Estadio Centenario,Montevideo,Uruguay,1,0,Peru,,57735.0,0,0,LANGENUS Jean (BEL),BALWAY Thomas (FRA),CRISTOPHE Henry (BEL),201,1099,URU,PER
9,1930,19 Jul 1930 - 12:50,Group 1,Estadio Centenario,Montevideo,Chile,1,0,France,,2000.0,0,0,TEJADA Anibal (URU),LOMBARDI Domingo (URU),REGO Gilberto (BRA),201,1094,CHI,FRA

In [ ]:
#6a Question: is home_team has advantage to get goals (total home team goal is bigger than away team goal)

In [92]:
#6a Solution (with code):
print(wc.home_team_goals.sum())
print(wc.away_team_goals.sum())

1539
869

In [ ]:
#6b Question: which year has most goals?

In [95]:
#6b Solution (with code):
groupby_wc = wc.groupby('year').sum()

In [97]:
groupby_wc['total_goals'] = groupby_wc.home_team_goals + groupby_wc.away_team_goals

In [101]:
groupby_wc.loc[groupby_wc['total_goals'] == groupby_wc['total_goals'].max()]

,home_team_goals,away_team_goals,attendance,half-time_home_goals,half-time_away_goals,roundid,matchid,total_goals
year,,,,,,,,
2014,95,105,4319243.0,28,46,19963278,23414545796,200